<div class="post">
  <h1>By Nicholas Hillier</h1>
  <div class="body">I Love being a turtle!</div>
  <h1>Comments</h1>
  <h2>By Lucas Hillier-Huot</h2>
  <div class="body">I Love playing sports!</div>
</div>